In [1]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql mysql+pymysql://root:password@localhost:3306/

# Create Database

In [2]:
%%sql
DROP DATABASE IF EXISTS customersDB;
CREATE DATABASE customersDB;
USE customersDB;

 * mysql+pymysql://root:***@localhost:3306/
11 rows affected.
1 rows affected.
0 rows affected.

[]

In [3]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.

[]

# Create Tables

In [4]:
%%sql
# customers table dimension table
DROP TABLE IF EXISTS customers;
CREATE TABLE customers(customer_id INT PRIMARY KEY AUTO_INCREMENT,                          #auto
                        first_name VARCHAR(100) NOT NULL,                                   #manual
                        last_name VARCHAR(100) NOT NULL,                                    #manual
                        gender ENUM('male','female','other','prefer not to say') NOT NULL DEFAULT 'prefer not to say',  #manual (trigger for prefer not to say)
                        age INT,                                                            #manual
                        email VARCHAR(100) UNIQUE,                                 #manual
                        ph_num VARCHAR(20) NOT NULL,                                        #manual
                        address VARCHAR(100) NOT NULL,                                     #manual
                        city VARCHAR(50) NOT NULL,                                          #manual
                        state VARCHAR(50) NOT NULL,                                        #manual
                        postal_code VARCHAR(10) NOT NULL,                                   #manual
                        country VARCHAR(100) NOT NULL,                                       #manual
                        registration_date DATETIME DEFAULT CURRENT_TIMESTAMP                #auto
                        );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
# category dim table 
DROP TABLE IF EXISTS category;
CREATE TABLE category(
    category_id INT PRIMARY KEY AUTO_INCREMENT,         #auto
    category_name VARCHAR(50) NOT NULL UNIQUE,          #manual
    description VARCHAR(100) NOT NULL UNIQUE,
    updated_on DATETIME DEFAULT CURRENT_TIMESTAMP       #auto/(trigger)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql
# products table fact table(contains category table)
DROP TABLE IF EXISTS products;
CREATE TABLE products(
    product_id INT PRIMARY KEY AUTO_INCREMENT,  # automatic
    product_name VARCHAR(50) NOT NULL UNIQUE,          # manual 
    description VARCHAR(100) NOT NULL UNIQUE,          # manual
    category_id INT NOT NULL,                   # manual
    FOREIGN KEY (category_id) REFERENCES category(category_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [7]:
%%sql
# inventory fact(1) dimension table
DROP TABLE IF EXISTS inventory;
CREATE TABLE inventory(
    inventory_id INT PRIMARY KEY AUTO_INCREMENT,        #auto
    product_id INT NOT NULL,                            #manual
    quantity INT NOT NULL CHECK (quantity >=0),         #manual
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,    #auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql
# price table fact(1) table
DROP TABLE IF EXISTS price;
CREATE TABLE price(
    price_id INT PRIMARY KEY AUTO_INCREMENT,                    # automatic
    product_id INT NOT NULL UNIQUE,                             # manual
    price DECIMAL(10,2) NOT NULL CHECK(price>0),                # manual
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,            # auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [9]:
%%sql
# orderitems table fact(3) table
DROP TABLE IF EXISTS orderitems;
CREATE TABLE orderitems(
    orderitem_id INT PRIMARY KEY AUTO_INCREMENT,                    #auto
    order_id INT NOT NULL,                                          #manual/create here
    product_id INT NOT NULL,                                        #manual
    customer_id INT NOT NULL,                                       #manual
    seller_id INT NOT NULL,                                         #manual
    quantity INT NOT NULL,                                          #manual
    total_amount INT NOT NULL,                                      #trigger data from price table/procedure
    FOREIGN KEY(product_id) REFERENCES products(product_id),
    FOREIGN KEY(customer_id) REFERENCES customers(customer_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [10]:
%%sql
# employees table dim
DROP TABLE IF EXISTS employees;
CREATE TABLE employees(
    employee_id INT PRIMARY KEY AUTO_INCREMENT,                     #auto
    first_name VARCHAR(50) NOT NULL,                                #manual
    last_name VARCHAR(50) NOT NULL,                                 #manual
    age INT NOT NULL CHECK(age<=60),                                #manual
    phone_number VARCHAR(16) NOT NULL,                              #manual
    email VARCHAR(50) NOT NULL UNIQUE,                              #manual
    hire_date DATE DEFAULT (CURRENT_DATE),                          #manual
    role VARCHAR(20) NOT NULL,                                      #manual
    termination_date DATE DEFAULT NULL,                             #manual/default null
    manager_id INT,                                                 #manual
    is_working BOOLEAN NOT NULL DEFAULT TRUE,                       #manual/fefault null
    FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql
# orders table fact(1) table
DROP TABLE IF EXISTS orders;
CREATE TABLE orders(
    order_id INT PRIMARY KEY,   #CREATE FROM ORDERITEMS BY procedure unique
    customer_id INT NOT NULL,   #CREATE FROM ORDERITEMS BY procedure unique
    total_quantity INT NOT NULL,     #sum trigger from orderitems
    total_amount INT NOT NULL,  #sum trigger from orderitems
    order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, # auto
    seller_id INT NOT NULL                                 #manual
);

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [12]:
%%sql
# shipping table fact(1) table
DROP TABLE IF EXISTS shipping;
CREATE TABLE shipping(
    shipping_id INT PRIMARY KEY AUTO_INCREMENT,   #auto
    order_id INT NOT NULL,                              #procedure
    shipping_date DATE NULL,                            #manual
    shipping_status ENUM('shipped', 'pending', 'delivered','cancelled') DEFAULT 'pending',#manual
    delivery_date DATE,                                     #MANUAL
    shipping_addresss VARCHAR(200) NOT NULL,                #manual or can be populate from customers table if same address
    city VARCHAR(50) NOT NULL,                              #manual
    state VARCHAR(50) NOT NULL,                             #manual
    postalcode VARCHAR(10) NOT NULL,                        #manual
    country VARCHAR(100) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql
# log table (audit table)
DROP TABLE IF EXISTS audit;
CREATE TABLE audit(
    log_id INT PRIMARY KEY AUTO_INCREMENT,
    action VARCHAR(10) NOT NULL,
    changed_by VARCHAR(50) NOT NULL,
    on_table VARCHAR(20) NOT NULL,
    on_column VARCHAR(200) NOT NULL,
    old_value VARCHAR(200),
    new_value VARCHAR(200),
    time DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS ordering;
CREATE TABLE ordering(
    ordering_id INT PRIMARY KEY AUTO_INCREMENT,
    product_id INT NOT NULL,
    customer_id INT NOT NULL,
    seller_id INT NOT NULL,
    quantity INT NOT NULL,
    total_amount INT NOT NULL,
    done BOOLEAN NOT NULL DEFAULT 0,
    FOREIGN KEY(seller_id) REFERENCES employees(employee_id),
    FOREIGN KEY(product_id) REFERENCES products(product_id),
    FOREIGN KEY(customer_id) REFERENCES customers(customer_id)
);

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [15]:
%%sql
USE customersdb;
SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
11 rows affected.

[('audit',),
 ('category',),
 ('customers',),
 ('employees',),
 ('inventory',),
 ('ordering',),
 ('orderitems',),
 ('orders',),
 ('price',),
 ('products',),
 ('shipping',)]

# Triggers

In [ ]:
%%sql
DROP TRIGGER IF EXISTS insert_on_customer_table;
CREATE TRIGGER insert_on_customer_table
BEFORE INSERT ON customers
FOR EACH ROW
BEGIN
    DECLARE mail BOOLEAN DEFAULT FALSE;
    DECLARE ph BOOLEAN DEFAULT FALSE;

    IF NEW.age <=0 THEN
        SET NEW.age = NULL;
    END IF;

    IF EXISTS (SELECT 1 FROM customers WHERE email = NEW.email) THEN
        SET mail = TRUE;
    END IF; 

    IF EXISTS (SELECT 1 FROM customers WHERE ph_num = NEW.ph_num) THEN
            SET ph = TRUE;
    END IF; 

    IF mail AND ph THEN 
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'This Email and Phone number already Registered. Please Use Different Email and Phone number.';
    ELSEIF mail THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'This Email-ID already Registered. Please Use Different Email-ID.';
    ELSEIF ph THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'This phone number already Registered. Please Use Different Phone number.';
    END IF;
END;


DROP TRIGGER IF EXISTS insert_after_customer_table;
CREATE TRIGGER insert_after_customer_table
AFTER INSERT ON customers
FOR EACH ROW
BEGIN
    INSERT INTO audit(action,changer_by,on_table,on_column,old_value,new_value)
    VALUES ('insert',USER(),'customers','all',null,'all');
END

DROP TRIGGER IF EXISTS update_after_customer_table;
CREATE TRIGGER update_after_customer_table
AFTER UPDATE ON customers
FOR EACH ROW
BEGIN
    INSERT INTO audit(action,changer_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'customers','all',null,'all');
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql

CREATE PROCEDURE loop_columns_from_table(IN in_table_name VARCHAR(64))
BEGIN
    DECLARE done INT DEFAULT FALSE;
    DECLARE col_name VARCHAR(64);
    DECLARE cur CURSOR FOR
        SELECT COLUMN_NAME 
        FROM INFORMATION_SCHEMA.COLUMNS 
        WHERE TABLE_NAME = in_table_name
        AND TABLE_SCHEMA = DATABASE();

    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = TRUE;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO col_name;
        IF done THEN
            LEAVE read_loop;
        END IF;

        -- üîÑ You can perform actions here using col_name
        -- Example: dynamically build a query or log it
        SELECT CONCAT('Processing column: ', col_name) AS status;

        -- Or store column names in a temp table, etc.
    END LOOP;

    CLOSE cur;
END

In [17]:
%%sql
DROP TRIGGER IF EXISTS update_date_on_category_table;
CREATE TRIGGER update_date_on_category_table
AFTER UPDATE ON category
FOR EACH ROW
BEGIN

    DECLARE name BOOLEAN DEFAULT FALSE;
    DECLARE des BOOLEAN DEFAULT FALSE;
    DECLARE oval VARCHAR(150);
    DECLARE nval VARCHAR(150);
    DECLARE col VARCHAR(50);

    UPDATE category
    SET updated_on = NOW()
    WHERE category_id = OLD.category_id;

    IF OLD.category_name <> NEW.category_name THEN
        SET name = TRUE;
    END IF;

    IF OLD.description = MEW.description THEN
        SET des = TRUE;
    END IF;

    IF name AND des THEN 
        SET oval = CONCAT(OLD.category_name,OLD.description);
        SET nval= CONCAT(NEW.category_name,NEW.description);
        SET col = 'name and description';
    ELSEIF name THEN
        SET oval = OLD.category_name;
        SET nval = NEW.category_name;
        SET col = 'name';
    ELSEIF des THEN
        SET oval = OLD.description;
        SET nval = NEW.description;
        SET col = 'description';
    END IF;

    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'category',col,oval,nval);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [18]:
%%sql
DROP TRIGGER IF EXISTS price_update_on_price_table;
CREATE TRIGGER price_update_on_price_table
AFTER UPDATE ON price
FOR EACH ROW
BEGIN

    DECLARE pri BOOLEAN DEFAULT FALSE;

    UPDATE price
    SET last_updated = NOW()
    WHERE product_id = OLD.product_id;


    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'price','price',OLD.price,NEW.price);
END;


DROP TRIGGER IF EXISTS price_insert_on_price_table;
CREATE TRIGGER price_insert_on_price_table
AFTER INSERT ON price
FOR EACH ROW
BEGIN

    DECLARE pri INT DEFAULT 0;

    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('insert',USER(),'price','price',pri,NEW.price);
END;

DROP TRIGGER IF EXISTS price_update_on_price_table;
CREATE TRIGGER price_update_on_price_table
AFTER DELETE ON price
FOR EACH ROW
BEGIN

    DECLARE pri INT DEFAULT 0;

    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'price','price',OLD.price,pri);
END;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [19]:
%%sql
DROP TRIGGER IF EXISTS update_date_on_inventory_table;
CREATE TRIGGER update_date_on_inventory_table
AFTER UPDATE ON inventory
FOR EACH ROW
BEGIN
    UPDATE inventory
    SET last_updated = NOW()
    WHERE product_id = OLD.product_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

# update triggers

In [ ]:
%%sql
DROP PROCEDURE IF EXISTS update_manager_employees;
CREATE PROCEDURE update_manager_employees(
    IN e_id INT,
    IN m_id INT)
BEGIN
    UPDATE employees
    SET manager_id = m_id
    WHERE employee_id = e_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql
DROP PROCEDURE IF EXISTS update_termination_employees;
CREATE PROCEDURE update_termination_employees(
    IN e_id INT
)
BEGIN
    UPDATE employees
    SET termination_date = CURRDATE(), is_working = 0
    WHERE employee_id = e_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

# Insert procedure

In [20]:
%%sql
DROP PROCEDURE IF EXISTS insert_date_in_customers;
CREATE PROCEDURE insert_date_in_customers(
    IN fname VARCHAR(100), 
    IN lname VARCHAR(100),
    IN gen VARCHAR(10),
    IN age INT,
    IN email VARCHAR(100),
    IN ph VARCHAR(20),
    IN addr VARCHAR(100),
    IN city VARCHAR(50),
    IN state VARCHAR(50),
    IN post VARCHAR(10),
    IN country VARCHAR(50)
    )
BEGIN
    INSERT INTO customers (first_name,last_name,gender,age,email,ph_num,
    address,city,state,postal_code,country)
    VALUES
    (fname,lname,gen,age,email,ph,addr,city,state,post,country);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [21]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_category;
CREATE PROCEDURE insert_values_category(IN name VARCHAR(50),
                                        IN des VARCHAR(100))
BEGIN
    INSERT INTO category(category_name, description)
    VALUES (name,des);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [22]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_products;
CREATE PROCEDURE insert_values_products(
    IN name VARCHAR(50),
    IN des VARCHAR(100),
    IN cat INT
)
BEGIN 
    INSERT INTO products(product_name,description,category_id)
    VALUES (name,des,cat);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [23]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_inventory;
CREATE PROCEDURE insert_values_inventory(
    IN pid INT,
    IN qty INT)
BEGIN
    INSERT INTO inventory(product_id,quantity)
    VALUES (pid,qty);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [24]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_price;
CREATE PROCEDURE insert_values_price(
    IN pid INT,
    IN price INT)
BEGIN
    INSERT INTO price(product_id,price)
    VALUES (pid,price);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [25]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_ordering;
CREATE PROCEDURE insert_values_ordering(
    IN pid INT,
    IN cid INT,
    IN sid INT,
    IN qty INT,
    IN done INT)
BEGIN
    DECLARE price_value INT;
    DECLARE msg TEXT;
    DECLARE oid INT;
    DECLARE tqty INT;
    DECLARE tamt INT;

    SELECT price INTO price_value FROM price WHERE product_id = pid;

    IF price_value > 0 AND qty > 0 THEN
        INSERT INTO ordering(product_id,customer_id,seller_id,quantity,total_amount,done)
        VALUES (pid,cid,sid,qty,qty*price_value,done);
    ELSE 
        SET msg = CONCAT('Values cannot be 0 or less. Price = ', price_value, ', Quantity = ', qty);
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = msg;
    END IF;
    
    IF EXISTS (SELECT 1 FROM ordering WHERE customer_id = cid AND done = 1) THEN
        SELECT COALESCE(MAX(order_id)+1,1) INTO oid FROM orders;

        INSERT INTO orderitems(order_id,product_id,customer_id,seller_id,quantity,total_amount)
        SELECT oid,product_id,customer_id,seller_id,quantity,total_amount FROM ordering WHERE customer_id = cid;

        INSERT INTO orders(order_id,customer_id,total_quantity,total_amount,seller_id)
        SELECT order_id,customer_id,SUM(quantity),SUM(total_amount),seller_id FROM orderitems
        WHERE order_id = oid GROUP BY 1,2,5;

        DELETE FROM ordering WHERE customer_id = cid;

    END IF;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [26]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_employees;
CREATE PROCEDURE insert_values_employees(
    IN fname VARCHAR(50),
    IN lname VARCHAR(50),
    IN age INT,
    IN ph VARCHAR(16),
    IN email VARCHAR(50),
    IN role VARCHAR(20)
)
BEGIN
    INSERT INTO employees(first_name, last_name, age, phone_number, email, role)
    VALUES (fname,lname,age,ph,email,role);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

%%sql

In [29]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [ ]:
%%sql

In [ ]:
import subprocess

# MySQL credentials
user = 'root'
password = 'password'
database = 'customersdb'

# Backup file location
backup_path = 'D:\\customersdb_backup.sql'

# Build the command
command = [
    r'C:\Program Files\MySQL\MySQL Server 8.0\bin\mysqldump',
    f'-u{user}',
    f'-p{password}',
    database
]

# Open file to write the backup
with open(backup_path, 'w') as backup_file:
    try:
        subprocess.run(command, stdout=backup_file, check=True)
        print(f'‚úÖ Backup completed: {backup_path}')
    except subprocess.CalledProcessError as e:
        print('‚ùå Backup failed:', e)

In [ ]:
t()

In [ ]:
def t():
    import mysql.connector

    # MySQL connection settings
    config = {
        'host': 'localhost',
        'user': 'root',
        'password': 'password',
        'database': 'customersdb'
    }

    try:
        conn = mysql.connector.connect(**config)
        cursor = conn.cursor()

        # Disable foreign key checks
        cursor.execute("SET FOREIGN_KEY_CHECKS = 0;")

        # Get list of all tables
        cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = %s AND table_type = 'BASE TABLE';", (config['database'],))
        tables = cursor.fetchall()

        # Truncate each table
        for (table,) in tables:
            print(f"Truncating table: {table}")
            cursor.execute(f"TRUNCATE TABLE `{table}`;")

        # Re-enable foreign key checks
        cursor.execute("SET FOREIGN_KEY_CHECKS = 1;")

        conn.commit()
        print("‚úÖ All tables truncated successfully.")

    except mysql.connector.Error as err:
        print(f"‚ùå MySQL error: {err}")
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

In [ ]:
%%sql
USE customersDB;
show tables;

In [ ]:
%%sql
select * from customers limit 5;

In [ ]:
import mysql.connector

# Connect to the database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='customersdb'
)

cursor = conn.cursor()

# Get list of tables
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Loop through and get CREATE TABLE statement for each
for (table_name,) in tables:
    cursor.execute(f"SHOW CREATE TABLE `{table_name}`")
    result = cursor.fetchone()
    print(f"\n--- {table_name} ---")
    print(result[1])  # The CREATE TABLE statement

cursor.close()
conn.close()

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql
CALL insert_date_in_customers('JHON','JACK','MALE',28,'AYTFYGD@SJDB.HS','+DJ77j898','SHSHFUJHFD,WAGFUFYGUYF,JASGFGAFUDY','CHENNAI','TN','600001','IN');
select * from customers order by customer_id desc limit 5;

In [ ]:
%%sql
select * from customers order by customer_id desc limit 5;

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql