In [78]:
# !pip install ipython-sql pymysql  mysql-connector-python mysqlclient mysql

In [79]:
# %load_ext sql
# %config SqlMagic.style = '_DEPRECATED_DEFAULT'
# %sql mysql+pymysql://root:password@localhost:3306/

# Create Database

In [80]:
%%sql
DROP DATABASE IF EXISTS customersDB;
CREATE DATABASE customersDB;
USE customersDB;

 * mysql+pymysql://root:***@localhost:3306/
7 rows affected.
1 rows affected.
0 rows affected.

[]

In [81]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.

[]

# Create Tables

In [82]:
%%sql
# customers table dimension table
DROP TABLE IF EXISTS customers;
CREATE TABLE customers(customer_id INT AUTO_INCREMENT,                          #auto
                        first_name VARCHAR(100) NOT NULL,                                   #manual
                        last_name VARCHAR(100) NOT NULL,                                    #manual
                        gender ENUM('male','female','other','prefer not to say') NOT NULL DEFAULT 'prefer not to say',  #manual (trigger for prefer not to say)
                        age INT,                                                            #manual
                        email VARCHAR(100) NOT NULL,                                 #manual
                        ph_num VARCHAR(20) NOT NULL,                                        #manual
                        address VARCHAR(100) NOT NULL,                                     #manual
                        city VARCHAR(50) NOT NULL,                                          #manual
                        state VARCHAR(50) NOT NULL,                                        #manual
                        postal_code VARCHAR(10) NOT NULL,                                   #manual
                        country VARCHAR(100) NOT NULL,                                       #manual
                        registration_date DATETIME(4),                #auto
                        PRIMARY KEY(customer_id, registration_date)
                        )
PARTITION BY RANGE (YEAR(registration_date))
    (
        PARTITION p_before_2020 VALUES LESS THAN (2021),
        PARTITION p2021 VALUES LESS THAN (2022),
        PARTITION p2022 VALUES LESS THAN (2023),
        PARTITION p2023 VALUES LESS THAN (2024),
        PARTITION p2024 VALUES LESS THAN (2025),
        PARTITION p2025 VALUES LESS THAN (2026),
        PARTITION p_future VALUES LESS THAN MAXVALUE
    );

CREATE INDEX age_index ON customers(age);
CREATE INDEX gender_index ON customers(gender);
CREATE INDEX location_index ON customers(city,state,country);
CREATE INDEX cust_indes ON customers(customer_id);

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [83]:
%%sql
# category dim table 
DROP TABLE IF EXISTS category;
CREATE TABLE category(
    category_id INT PRIMARY KEY AUTO_INCREMENT,         #auto
    category_name VARCHAR(50) NOT NULL UNIQUE,          #manual
    description VARCHAR(100) NOT NULL UNIQUE,           #manual
    updated_on DATETIME DEFAULT CURRENT_TIMESTAMP       #auto/(trigger)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [84]:
%%sql
# products table fact table(contains category table)
DROP TABLE IF EXISTS products;
CREATE TABLE products(
    product_id INT PRIMARY KEY AUTO_INCREMENT,  # automatic
    product_name VARCHAR(50) NOT NULL UNIQUE,          # manual 
    description VARCHAR(100) NOT NULL UNIQUE,          # manual
    category_id INT NOT NULL,                   # manual
    FOREIGN KEY (category_id) REFERENCES category(category_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [85]:
%%sql
# inventory fact(1) dimension table
DROP TABLE IF EXISTS inventory;
CREATE TABLE inventory(
    inventory_id INT PRIMARY KEY AUTO_INCREMENT,        #auto
    product_id INT NOT NULL,                            #manual
    quantity INT NOT NULL CHECK (quantity >=0),         #manual
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,    #auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.

0 rows affected.

[]

In [109]:
%%sql
# price table fact(1) table
DROP TABLE IF EXISTS price_history;
CREATE TABLE price_history(
    price_history_id INT PRIMARY KEY AUTO_INCREMENT,                    # automatic
    product_id INT NOT NULL UNIQUE,                             # manual
    price DECIMAL(10,2) NOT NULL CHECK(price>0),                # manual
    effective_date DATE NOT NULL,
    fiscal_year YEAR,
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,            # auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

CREATE INDEX id_date_index ON price_history(product_id, effective_date);

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [110]:
%%sql
# orderitems table fact(3) table
DROP TABLE IF EXISTS orderitems;
CREATE TABLE orderitems(
    orderitem_id INT PRIMARY KEY AUTO_INCREMENT,                    #auto
    order_id INT NOT NULL,                                          #manual/create here
    product_id INT NOT NULL,                                        #manual
    customer_id INT NOT NULL,                                       #manual
    seller_id INT NOT NULL,                                         #manual
    quantity INT NOT NULL,                                          #manual
    total_amount INT NOT NULL,                                      #trigger data from price table/procedure
    FOREIGN KEY(product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [111]:
%%sql
# employees table dim
DROP TABLE IF EXISTS employees;
CREATE TABLE employees(
    employee_id INT PRIMARY KEY AUTO_INCREMENT,                     #auto
    first_name VARCHAR(50) NOT NULL,                                #manual
    last_name VARCHAR(50) NOT NULL,                                 #manual
    age INT NOT NULL CHECK(age<=60),                                #manual
    phone_number VARCHAR(16) NOT NULL,                              #manual
    email VARCHAR(50) NOT NULL UNIQUE,                              #manual
    hire_date DATE DEFAULT (CURRENT_DATE),                          #manual
    role VARCHAR(20) NOT NULL,                                      #manual
    termination_date DATE DEFAULT NULL,                             #manual/default null
    manager_id INT,                                                 #manual
    is_working BOOLEAN NOT NULL DEFAULT TRUE,                       #manual/fefault null
    FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [112]:
%%sql
# orders table fact(1) table
DROP TABLE IF EXISTS orders;
CREATE TABLE orders(
    order_id INT PRIMARY KEY AUTO_INCREMENT,   #CREATE FROM ORDERITEMS BY procedure unique
    customer_id INT NOT NULL,   #CREATE FROM ORDERITEMS BY procedure unique
    total_quantity INT NOT NULL,     #sum trigger from orderitems
    total_amount INT NOT NULL,  #sum trigger from orderitems
    order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, # auto
    seller_id INT NOT NULL,                                #manual
    FOREIGN KEY(seller_id) REFERENCES employees(employee_id)
);

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [113]:
%%sql
# shipping table fact(1) table
DROP TABLE IF EXISTS shipping;
CREATE TABLE shipping(
    shipping_id INT PRIMARY KEY AUTO_INCREMENT,   #auto
    order_id INT NOT NULL,                              #procedure
    shipping_date DATE NULL,                            #manual
    shipping_status ENUM('shipped', 'pending', 'delivered','cancelled') DEFAULT 'pending',#manual
    delivery_date DATE,                                     #MANUAL
    shipping_addresss VARCHAR(200) NOT NULL,                #manual or can be populate from customers table if same address
    city VARCHAR(50) NOT NULL,                              #manual
    state VARCHAR(50) NOT NULL,                             #manual
    postalcode VARCHAR(10) NOT NULL,                        #manual
    country VARCHAR(100) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [120]:
%%sql
# log table (audit table)
DROP TABLE IF EXISTS audit;
CREATE TABLE audit(
    log_id INT PRIMARY KEY AUTO_INCREMENT,
    action VARCHAR(10) NOT NULL,
    changed_by VARCHAR(50) NOT NULL,
    on_table VARCHAR(20) NOT NULL,
    on_column VARCHAR(200) NOT NULL,
    old_value VARCHAR(200),
    new_value VARCHAR(500),
    time DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [116]:
%%sql
DROP TABLE IF EXISTS cart;
CREATE TABLE cart(
    product_id INT NOT NULL,
    customer_id INT NOT NULL,
    seller_id INT NOT NULL,
    quantity INT NOT NULL,
    total_amount INT NOT NULL,
    done BOOLEAN NOT NULL DEFAULT 0,
    FOREIGN KEY(seller_id) REFERENCES employees(employee_id),
    FOREIGN KEY(product_id) REFERENCES products(product_id)
);

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [117]:
%%sql
USE customersdb;
SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
11 rows affected.

[('audit',),
 ('cart',),
 ('category',),
 ('customers',),
 ('employees',),
 ('inventory',),
 ('orderitems',),
 ('orders',),
 ('price_history',),
 ('products',),
 ('shipping',)]

# Triggers

In [119]:
%%sql
DROP TRIGGER IF EXISTS update_after_customer_table;
CREATE TRIGGER update_after_customer_table
AFTER UPDATE ON customers
FOR EACH ROW
BEGIN
    INSERT INTO audit(action,changer_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'customers','all',null,'all');
END;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [95]:
%%sql
DROP TRIGGER IF EXISTS update_date_on_category_table;
CREATE TRIGGER update_date_on_category_table
AFTER UPDATE ON category
FOR EACH ROW
BEGIN

    DECLARE name BOOLEAN DEFAULT FALSE;
    DECLARE des BOOLEAN DEFAULT FALSE;
    DECLARE oval VARCHAR(150);
    DECLARE nval VARCHAR(150);
    DECLARE col VARCHAR(50);

    UPDATE category
    SET updated_on = NOW()
    WHERE category_id = OLD.category_id;

    IF OLD.category_name <> NEW.category_name THEN
        SET name = TRUE;
    END IF;

    IF OLD.description = MEW.description THEN
        SET des = TRUE;
    END IF;

    IF name AND des THEN 
        SET oval = CONCAT(OLD.category_name,OLD.description);
        SET nval= CONCAT(NEW.category_name,NEW.description);
        SET col = 'name and description';
    ELSEIF name THEN
        SET oval = OLD.category_name;
        SET nval = NEW.category_name;
        SET col = 'name';
    ELSEIF des THEN
        SET oval = OLD.description;
        SET nval = NEW.description;
        SET col = 'description';
    END IF;

    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'category',col,oval,nval);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [128]:
%%sql
DROP TRIGGER IF EXISTS price_update_on_price_table;
CREATE TRIGGER price_update_on_price_table
AFTER UPDATE ON price_history
FOR EACH ROW
BEGIN

    DECLARE pri BOOLEAN DEFAULT FALSE;

    UPDATE price
    SET last_updated = NOW()
    WHERE product_id = OLD.product_id;


    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'price','price',OLD.price,NEW.price);
END;


DROP TRIGGER IF EXISTS price_delete_on_price_table;
CREATE TRIGGER price_delete_on_price_table
AFTER DELETE ON price_history
FOR EACH ROW
BEGIN

    DECLARE pri INT DEFAULT 0;

    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('update',USER(),'price','price',OLD.price,NULL);
END;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

# update triggers

In [129]:
%%sql
DROP TRIGGER IF EXISTS update_date_on_inventory_table;
CREATE TRIGGER update_date_on_inventory_table
AFTER UPDATE ON inventory
FOR EACH ROW
BEGIN
    UPDATE inventory
    SET last_updated = NOW()
    WHERE product_id = OLD.product_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [130]:
%%sql
DROP PROCEDURE IF EXISTS update_manager_employees;
CREATE PROCEDURE update_manager_employees(
    IN e_id INT,
    IN m_id INT)
BEGIN
    UPDATE employees
    SET manager_id = m_id
    WHERE employee_id = e_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [131]:
%%sql
DROP PROCEDURE IF EXISTS update_termination_employees;
CREATE PROCEDURE update_termination_employees(
    IN e_id INT
)
BEGIN
    UPDATE employees
    SET termination_date = CURRDATE(), is_working = 0
    WHERE employee_id = e_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

# Insert procedure

In [132]:
%%sql
DROP PROCEDURE IF EXISTS insert_date_in_customers;
CREATE PROCEDURE insert_date_in_customers(
    IN fname VARCHAR(100), 
    IN lname VARCHAR(100),
    IN gen VARCHAR(10),
    IN age INT,
    IN email VARCHAR(100),
    IN ph VARCHAR(20),
    IN addr VARCHAR(100),
    IN city VARCHAR(50),
    IN state VARCHAR(50),
    IN post VARCHAR(10),
    IN country VARCHAR(50)
    )
BEGIN
    DECLARE mail BOOLEAN DEFAULT FALSE;
    DECLARE ph BOOLEAN DEFAULT FALSE;

    IF EXISTS (SELECT 1 FROM customers WHERE email = email) THEN
        SET mail = TRUE;
    END IF; 

    IF EXISTS (SELECT 1 FROM customers WHERE ph_num = ph_num) THEN
            SET ph = TRUE;
    END IF; 

    IF mail AND ph THEN 
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'This Email and Phone number already Registered. Please Use Different Email and Phone number.';
    ELSEIF mail THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'This Email-ID already Registered. Please Use Different Email-ID.';
    ELSEIF ph THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'This phone number already Registered. Please Use Different Phone number.';
    END IF;

    IF age <=0 THEN
        SET age = NULL;
    END IF;

    IF gen IS NULL THEN
        SET gen = 'prefer not to say';
    END IF;

    INSERT INTO customers (first_name,last_name,gender,age,email,ph_num,
    address,city,state,postal_code,country,registration_date)
    VALUES
    (fname,lname,gen,age,email,ph,addr,city,state,post,country,NOW(4));


    INSERT INTO audit (action, changer_by, on_table, on_column, old_value, new_value)
    VALUES ('insert', USER(), 'customers', 'all', NULL,
        CONCAT('Inserted:',fname, ' ',lname,', Email:',in_email,',Phone:',in_ph));

END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [133]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_category;
CREATE PROCEDURE insert_values_category(IN name VARCHAR(50),
                                        IN des VARCHAR(100))
BEGIN
    INSERT INTO category(category_name, description)
    VALUES (name,des);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [134]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_products;
CREATE PROCEDURE insert_values_products(
    IN name VARCHAR(50),
    IN des VARCHAR(100),
    IN cat INT
)
BEGIN 
    INSERT INTO products(product_name,description,category_id)
    VALUES (name,des,cat);

    INSERT INTO audit(action, changer_by, on_table, on_column, old_value, new_value)
    VALUES ('insert', USER(), 'products', 'all', NULL, CONCAT('Product: ', name));
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [135]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_inventory;
CREATE PROCEDURE insert_values_inventory(
    IN pid INT,
    IN qty INT)
BEGIN
    INSERT INTO inventory(product_id,quantity)
    VALUES (pid,qty);

    INSERT INTO audit(action, changer_by, on_table, on_column, old_value, new_value)
    VALUES ('insert', USER(), 'products', 'all', NULL, CONCAT('Product: ', pid, 'Quantity: ',qty));
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [136]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_price;
CREATE PROCEDURE insert_values_price(
    IN pid INT,
    IN price INT,
    IN start_at DATE)
BEGIN
    DECLARE yr YEAR DEFAULT YEAR(CURDATE());

    INSERT INTO price(product_id,price,fiscal_year,effective_date)
    VALUES (pid,price,yr,start_at);

    INSERT INTO audit(action,changed_by,on_table,on_column,old_value,new_value)
    VALUES ('insert',USER(),'price','price',NULL,price);

END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [137]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_cart;
CREATE PROCEDURE insert_values_cart(
    IN pid INT,
    IN cid INT,
    IN sid INT,
    IN qty INT,
    IN done INT)
BEGIN
    DECLARE price_value INT;
    DECLARE oid INT;
    DECLARE tqty INT;
    DECLARE tamt INT;

    START TRANSACTION;

    SELECT price INTO price_value FROM price WHERE product_id = pid AND effective_date <= CURDATE()
            ORDER BY effective_date DESC LIMIT 1;

    IF qty > 0 THEN
        INSERT INTO cart(product_id,customer_id,seller_id,quantity,total_amount,done)
        VALUES (pid,cid,sid,qty,qty*price_value,done);
    ELSE 
        ROLLBACK;
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Quantity cannot be 0 or less';
    END IF;
    
    IF EXISTS (SELECT 1 FROM cart WHERE customer_id = cid AND done = 1) THEN

        SELECT seller_id INTO sid FROM cart WHERE customer_id =cid AND done = 1;

        INSERT INTO orders(customer_id,total_quantity,total_amount,seller_id)
        SELECT customer_id,SUM(quantity),SUM(total_amount),sid FROM cart
        WHERE customer_id = cid GROUP BY customer_id,sid;

        SELECT order_id INTO oid FROM orders WHERE customer_id = cid ORDER BY order_date DESC LIMIT 1;

        INSERT INTO orderitems(order_id,product_id,customer_id,seller_id,quantity,total_amount)
        SELECT oid,product_id,customer_id,seller_id,quantity,total_amount FROM cart WHERE customer_id = cid;

        DELETE FROM cart WHERE customer_id = cid;

    END IF;
    COMMIT;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [138]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_employees;
CREATE PROCEDURE insert_values_employees(
    IN fname VARCHAR(50),
    IN lname VARCHAR(50),
    IN age INT,
    IN ph VARCHAR(16),
    IN email VARCHAR(50),
    IN role VARCHAR(20)
)
BEGIN
    INSERT INTO employees(first_name, last_name, age, phone_number, email, role)
    VALUES (fname,lname,age,ph,email,role);

    INSERT INTO audit(action, changer_by, on_table, on_column, old_value, new_value)
    VALUES ('insert', USER(), 'products', 'all', NULL, CONCAT('Name: ', fname,' ',lname,' Age:',age,' Phone:',ph,
            ' Email:',email,' Role:',role));

END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

%%sql

In [107]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql
CALL insert_date_in_customers('JHON','JACK','MALE',28,'AYTFYGD@SJDB.HS','+DJ77j898','SHSHFUJHFD,WAGFUFYGUYF,JASGFGAFUDY','CHENNAI','TN','600001','IN');
select * from customers order by customer_id desc limit 5;

In [ ]:
%%sql
select * from customers order by customer_id desc limit 5;

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql