<c><h3><b>Sales Order DB Architecture with ACID-Compliant Business Logic</b></h3></c>

In [9]:
!pip install ipython-sql pymysql  mysql-connector-python mysqlclient mysql SQLAlchemy cryptography

Requirement already satisfied: ipython-sql in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (0.5.0)
Requirement already satisfied: pymysql in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: mysql-connector-python in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (9.4.0)
Requirement already satisfied: mysqlclient in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (2.2.7)
Requirement already satisfied: mysql in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (0.0.3)
Requirement already satisfied: SQLAlchemy in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (2.0.42)
Collecting cryptography
  Using cached cryptography-45.0.6-cp311-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: prettytable in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython-sql) (9.4.0)
Requirement already satisfied: sqlparse in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.14.1)
Requirement already satisfied: cffi>=1.14 in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.14->cryptography) (2.22)
Requirement already satisfied: colorama in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\rajes\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\rajes\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\rajes\appdata\roaming\python\python313\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\rajes\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\rajes\appdata\roaming\python\python313\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\rajes\appdata\roaming\python\python313\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\rajes\appdata\roaming\python\python313\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Using cached cryptography-45.0.6-cp311-abi3-win_amd64.whl (3.4 MB)
Installing collected packages: cryptography
Successfully installed cryptography-45.0.6

In [1]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql mysql+pymysql://root:password@localhost:3306/

# Create Database

In [8]:
%%sql
DROP DATABASE IF EXISTS customersDB;
CREATE DATABASE customersDB;

 * mysql+pymysql://root:***@localhost:3306/
4 rows affected.
1 rows affected.

[]

In [9]:
%%sql
USE customersDB;
show tables;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

# Create Tables

In [10]:
%%sql
# customers table dimension table
DROP TABLE IF EXISTS customers;
CREATE TABLE customers(customer_id INT AUTO_INCREMENT,                          #auto
                        first_name VARCHAR(100) NOT NULL,                                   #manual
                        last_name VARCHAR(100) NOT NULL,                                    #manual
                        gender ENUM('male','female','other','prefer not to say') NOT NULL DEFAULT 'prefer not to say',  #manual (trigger for prefer not to say)
                        age INT,                                                            #manual
                        email VARCHAR(100) NOT NULL,                                 #manual
                        ph_num VARCHAR(20) NOT NULL,                                        #manual
                        address VARCHAR(100) NOT NULL,                                     #manual
                        city VARCHAR(50) NOT NULL,                                          #manual
                        state VARCHAR(50) NOT NULL,                                        #manual
                        postal_code VARCHAR(10) NOT NULL,                                   #manual
                        country VARCHAR(100) NOT NULL,                                       #manual
                        registration_date DATETIME(4),                #auto
                        updated_on DATETIME,
                        PRIMARY KEY(customer_id, registration_date)
                        );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [11]:
%%sql
# category dim table 
DROP TABLE IF EXISTS category;
CREATE TABLE category(
    category_id INT PRIMARY KEY AUTO_INCREMENT,         #auto
    category_name VARCHAR(50) NOT NULL UNIQUE,          #manual
    description VARCHAR(100) NOT NULL UNIQUE,           #manual
    updated_on DATETIME       #auto/(trigger)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [12]:
%%sql
# products table fact table(contains category table)
DROP TABLE IF EXISTS products;
CREATE TABLE products(
    product_id INT PRIMARY KEY AUTO_INCREMENT,  # automatic
    product_name VARCHAR(50) NOT NULL UNIQUE,          # manual 
    description VARCHAR(100) NOT NULL UNIQUE,          # manual
    category_id INT NOT NULL,                   # manual
    updated_on DATETIME,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql
# inventory fact(1) dimension table
DROP TABLE IF EXISTS inventory;
CREATE TABLE inventory(
    inventory_id INT PRIMARY KEY AUTO_INCREMENT,        #auto
    product_id INT NOT NULL,                            #manual
    quantity INT NOT NULL CHECK (quantity >=0),         #manual
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,    #auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [14]:
%%sql
# price table fact(1) table
DROP TABLE IF EXISTS price_history;
CREATE TABLE price_history(
    price_history_id INT PRIMARY KEY AUTO_INCREMENT,                    # automatic
    product_id INT NOT NULL UNIQUE,                             # manual
    price DECIMAL(10,2) NOT NULL CHECK(price>0),                # manual
    effective_date DATE NOT NULL,
    fiscal_year YEAR,
    last_updated DATETIME,            # auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [18]:
%%sql
# orders table fact(1) table
DROP TABLE IF EXISTS orders;
CREATE TABLE orders(
    order_id INT PRIMARY KEY AUTO_INCREMENT,   #CREATE FROM ORDERITEMS BY procedure unique
    customer_id INT NOT NULL,   #CREATE FROM ORDERITEMS BY procedure unique
    total_quantity INT NOT NULL,     #sum trigger from orderitems
    total_amount INT NOT NULL,  #sum trigger from orderitems
    order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, # auto
    FOREIGN KEY(customer_id) REFERENCES customers(customer_id)
);

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [19]:
%%sql
# employees table dim
DROP TABLE IF EXISTS employees;
CREATE TABLE employees(
    employee_id INT PRIMARY KEY AUTO_INCREMENT,                     #auto
    first_name VARCHAR(50) NOT NULL,                                #manual
    last_name VARCHAR(50) NOT NULL,                                 #manual
    age INT NOT NULL CHECK(age<=60),                                #manual
    phone_number VARCHAR(16) NOT NULL,                              #manual
    email VARCHAR(50) NOT NULL UNIQUE,                              #manual
    hire_date DATE DEFAULT (CURRENT_DATE),                          #manual
    role VARCHAR(20) NOT NULL,                                      #manual
    termination_date DATE DEFAULT NULL,                             #manual/default null
    manager_id INT,                                                 #manual
    is_working BOOLEAN NOT NULL DEFAULT TRUE,                       #manual/fefault null
    updated_on DATETIME,
    FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [20]:
%%sql
# orderitems table fact(3) table
DROP TABLE IF EXISTS orderitems;
CREATE TABLE orderitems(
    orderitem_id INT PRIMARY KEY AUTO_INCREMENT,                    #auto
    order_id INT NOT NULL,                                          #manual/create here
    product_id INT NOT NULL,                                        #manual
    customer_id INT NOT NULL,                                       #manual
    seller_id INT NOT NULL,                                         #manual
    quantity INT NOT NULL,                                          #manual
    total_amount INT NOT NULL,                                      #trigger data from price table/procedure
    FOREIGN KEY(product_id) REFERENCES products(product_id),
    FOREIGN KEY(order_id) REFERENCES orders(order_id),
    FOREIGN KEY(seller_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [21]:
%%sql
# shipping table fact(1) table
DROP TABLE IF EXISTS shipping;
CREATE TABLE shipping(
    shipping_id INT PRIMARY KEY AUTO_INCREMENT,   #auto
    order_id INT NOT NULL,                              #procedure
    shipping_date DATE NULL,                            #manual
    shipping_status ENUM('shipped', 'pending', 'delivered','cancelled') DEFAULT 'pending',#manual
    delivery_date DATE,                                     #MANUAL
    shipping_addresss VARCHAR(200) NOT NULL,                #manual or can be populate from customers table if same address
    city VARCHAR(50) NOT NULL,                              #manual
    state VARCHAR(50) NOT NULL,                             #manual
    postalcode VARCHAR(10) NOT NULL,                        #manual
    country VARCHAR(50) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [22]:
%%sql
# log table (audit table)
DROP TABLE IF EXISTS audit;
CREATE TABLE audit(
    audit_id INT PRIMARY KEY AUTO_INCREMENT,
    table_name VARCHAR(20) NOT NULL,
    new_value JSON,
    old_value JSON,
    action ENUM('insert','update','delete') NOT NULL,
    user_id VARCHAR(50) NOT NULL,
    time DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [23]:
    %%sql
    DROP TABLE IF EXISTS cart;
    CREATE TABLE cart(
        product_id INT NOT NULL,
        customer_id INT NOT NULL,
        seller_id INT NOT NULL,
        quantity INT NOT NULL,
        total_amount INT NOT NULL,
        done BOOLEAN NOT NULL DEFAULT 0,
        FOREIGN KEY(seller_id) REFERENCES employees(employee_id),
        FOREIGN KEY(product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [24]:
%%sql
USE customersdb;
SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
11 rows affected.

[('audit',),
 ('cart',),
 ('category',),
 ('customers',),
 ('employees',),
 ('inventory',),
 ('orderitems',),
 ('orders',),
 ('price_history',),
 ('products',),
 ('shipping',)]

In [ ]:
%%sql