In [2]:
# !pip install ipython-sql sqlalchemy psycopg2

In [39]:
# %load_ext sql
%reload_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql postgresql+psycopg2://postgres:password@localhost:5432/iot_data

In [40]:
%%sql
DROP TABLE IF EXISTS sensor_types;
CREATE TABLE sensor_types (
    sensor_id SERIAL PRIMARY KEY,
    sensor_type TEXT UNIQUE NOT NULL,
    unit TEXT NOT NULL,
    changed_on TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
Done.
Done.

[]

In [41]:
%%sql
DROP TABLE IF EXISTS devices;
CREATE TABLE devices (
    device_id SERIAL PRIMARY KEY,
    device_name TEXT NOT NULL,
    device_type TEXT NOT NULL,
    location TEXT,
    latitude TEXT,
    logitude TEXT,
    registered_at TIMESTAMP
);

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
Done.
Done.

[]

In [42]:
%%sql
DROP TABLE IF EXISTS sensor_data;
CREATE TABLE sensor_data (
    reading_id SERIAL PRIMARY KEY,
    device_id INTEGER NOT NULL,
    sensor_id INTEGER NOT NULL,
    sensor_value NUMERIC NOT NULL,
    reading_time TIMESTAMP NOT NULL,
    FOREIGN KEY(device_id) REFERENCES devices(device_id),
    FOREIGN KEY(sensor_id) REFERENCES sensor_types(sensor_id)
);

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
Done.
Done.

[]

In [43]:
%%sql
DROP TABLE IF EXISTS alerts;
CREATE TABLE alerts (
    alert_id SERIAL PRIMARY KEY,
    device_id INTEGER REFERENCES devices(device_id),
    sensor_id INTEGER REFERENCES sensor_types(sensor_id),
    sensor_value NUMERIC,
    reading_time TIMESTAMP,
    alert_type TEXT,
    message TEXT    
);

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
Done.
Done.

[]

In [45]:
%%sql
SELECT * FROM sensor_types;

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
4 rows affected.

[(1, 'Temperature', '°C', datetime.datetime(2025, 8, 11, 0, 15, 18, 485421)),
 (2, 'Humidity', '%', datetime.datetime(2025, 8, 11, 0, 15, 18, 491184)),
 (3, 'Pressure', 'hPa', datetime.datetime(2025, 8, 11, 0, 15, 18, 491961)),
 (4, 'Light', 'lux', datetime.datetime(2025, 8, 11, 0, 15, 18, 492293))]

In [64]:
%%sql
SELECT * FROM devices;

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
4 rows affected.

[(1, 'EnviroMonitor-Alpha', 'IoT Sensor Hub', 'Delhi', '28.6139', '77.209', datetime.datetime(2022, 10, 18, 4, 59, 36)),
 (2, 'WeatherSense-Pro', 'IoT Sensor Hub', 'Hyderabad', '17.385', '78.4867', datetime.datetime(2024, 7, 15, 8, 13, 24)),
 (3, 'AirTrack-2000', 'IoT Sensor Hub', 'Bangalore', '12.9716', '77.5946', datetime.datetime(2022, 8, 24, 13, 13, 49)),
 (4, 'PowerGuard-Lite', 'IoT Sensor Hub', 'Delhi', '28.6139', '77.209', datetime.datetime(2023, 1, 5, 19, 32, 46))]

In [65]:
%%sql
SELECT distinct extract(year from reading_time) FROM sensor_data limit 10;

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
6 rows affected.

[(Decimal('2024'),),
 (Decimal('2025'),),
 (Decimal('2023'),),
 (Decimal('2022'),),
 (Decimal('2020'),),
 (Decimal('2021'),)]

In [66]:
%%sql
SELECT * FROM sensor_data limit 10;

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
10 rows affected.

[(1, 1, 1, Decimal('34.63'), datetime.datetime(2020, 8, 12, 11, 26, 2, 275785)),
 (2, 1, 2, Decimal('39.35'), datetime.datetime(2020, 8, 12, 20, 54, 2, 275785)),
 (3, 1, 3, Decimal('186.67'), datetime.datetime(2020, 8, 12, 5, 39, 2, 275785)),
 (4, 1, 4, Decimal('47.09'), datetime.datetime(2020, 8, 12, 9, 34, 2, 275785)),
 (5, 2, 1, Decimal('41.81'), datetime.datetime(2020, 8, 12, 19, 19, 2, 275785)),
 (6, 2, 2, Decimal('48.94'), datetime.datetime(2020, 8, 12, 19, 39, 2, 275785)),
 (7, 2, 3, Decimal('127.79'), datetime.datetime(2020, 8, 12, 19, 38, 2, 275785)),
 (8, 2, 4, Decimal('35.69'), datetime.datetime(2020, 8, 12, 2, 4, 2, 275785)),
 (9, 3, 1, Decimal('25.58'), datetime.datetime(2020, 8, 12, 21, 25, 2, 275785)),
 (10, 3, 2, Decimal('45.36'), datetime.datetime(2020, 8, 12, 20, 53, 2, 275785))]

In [68]:
%%sql
select * from alerts limit 10;

 * postgresql+psycopg2://postgres:***@localhost:5432/iot_data
10 rows affected.

[(1, 2, 1, Decimal('41.81'), datetime.datetime(2020, 8, 12, 19, 18, 2, 275785), 'Threshold Exceeded', 'Temperature out of safe range: 41.81°C'),
 (2, 3, 1, Decimal('15.92'), datetime.datetime(2020, 8, 13, 12, 30, 2, 275785), 'Threshold Exceeded', 'Temperature out of safe range: 15.92°C'),
 (3, 3, 2, Decimal('24.73'), datetime.datetime(2020, 8, 13, 18, 59, 2, 275785), 'Threshold Exceeded', 'Humidity abnormal: 24.73%'),
 (4, 4, 2, Decimal('24.36'), datetime.datetime(2020, 8, 13, 22, 49, 2, 275785), 'Threshold Exceeded', 'Humidity abnormal: 24.36%'),
 (5, 1, 3, Decimal('247.25'), datetime.datetime(2020, 8, 14, 6, 48, 2, 275785), 'Threshold Exceeded', 'Air Quality index too high: 247.25 AQI'),
 (6, 2, 3, Decimal('201.25'), datetime.datetime(2020, 8, 14, 2, 1, 2, 275785), 'Threshold Exceeded', 'Air Quality index too high: 201.25 AQI'),
 (7, 3, 1, Decimal('40.93'), datetime.datetime(2020, 8, 14, 6, 40, 2, 275785), 'Threshold Exceeded', 'Temperature out of safe range: 40.93°C'),
 (8, 3, 1, Decimal('44.12'), datetime.datetime(2020, 8, 15, 9, 18, 2, 275785), 'Threshold Exceeded', 'Temperature out of safe range: 44.12°C'),
 (9, 1, 3, Decimal('225.12'), datetime.datetime(2020, 8, 16, 16, 20, 2, 275785), 'Threshold Exceeded', 'Air Quality index too high: 225.12 AQI'),
 (10, 2, 1, Decimal('44.19'), datetime.datetime(2020, 8, 16, 2, 54, 2, 275785), 'Threshold Exceeded', 'Temperature out of safe range: 44.19°C')]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql