In [2]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql mysql+pymysql://root:password@localhost:3306/

In [92]:
%%sql
DROP DATABASE IF EXISTS customersDB;
CREATE DATABASE customersDB;
USE customersDB;

 * mysql+pymysql://root:***@localhost:3306/
9 rows affected.
1 rows affected.
0 rows affected.

[]

In [93]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.

[]

In [94]:
%%sql
# customers table dimension table
DROP TABLE IF EXISTS customers;
CREATE TABLE customers(customer_id INT PRIMARY KEY AUTO_INCREMENT, 
                        first_name VARCHAR(100) NOT NULL, 
                        last_name VARCHAR(100) NOT NULL,
                        gender ENUM('male','female','other','prefer not to say') NOT NULL,
                        age INT NOT NULL,
                        email VARCHAR(100) UNIQUE NOT NULL,
                        ph_num VARCHAR(20) NOT NULL,
                        address1 VARCHAR(100) NOT NULL,
                        address2 VARCHAR(100),
                        city VARCHAR(50) NOT NULL,
                        state VARCHAR(100) NOT NULL,
                        postal_code VARCHAR(10) NOT NULL,
                        country VARCHAR(50) NOT NULL,
                        registration_date DATETIME DEFAULT CURRENT_TIMESTAMP,
                        last_login DATETIME DEFAULT CURRENT_TIMESTAMP
                        );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [110]:
%%sql
# products table fact table(contains category table)
DROP TABLE IF EXISTS products;
CREATE TABLE products(
    product_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    description VARCHAR(100) NOT NULL,
    category_id INT NOT NULL,
    price_id INT NOT NULL,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [111]:
%%sql
# inventory fact(1) dimension table
DROP TABLE IF EXISTS inventory;
CREATE TABLE inventory(
    inventory_id INT PRIMARY KEY AUTO_INCREMENT,
    product_id INT NOT NULL,
    quantity INT NOT NULL CHECK (quantity >=0),
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [112]:
%%sql
# price table fact(1) table
DROP TABLE IF EXISTS price;
CREATE TABLE price(
    price_id INT PRIMARY KEY AUTO_INCREMENT,
    product_id INT NOT NULL,
    price INT NOT NULL CHECK(price>0),
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [98]:
%%sql
# category dim table 
DROP TABLE IF EXISTS category;
CREATE TABLE category(
    category_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(50) NOT NULL,
    created_on DATETIME DEFAULT CURRENT_TIMESTAMP
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql
# sales table fact(2) table
DROP TABLE IF EXISTS orders;
CREATE TABLE orders(
    order_id INT PRIMARY KEY, #CREATE FROM ORDERITEMS BY TRIGGERS
    customer_id INT NOT NULL,
    total_qty INT NOT NULL,
    total_amount INT NOT NULL,
    order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    seller_id INT NOT NULL,
    shipping_date DATE NOT NULL,
    shipping_status ENUM('shipped', 'pending', 'delivered'),
    shipping_addresss VARCHAR(200) NOT NULL,
    city VARCHAR(50) NOT NULL,
    state VARCHAR(50) NOT NULL,
    postalcode VARCHAR(10) NOT NULL,
    payment_method VARCHAR(50) NOT NULL,
    payment_status VARCHAR(10) NOT NULL,
    FOREIGN KEY(customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY(seller_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [122]:
%%sql
# orders table fact(3) table
DROP TABLE IF EXISTS orderitems;
CREATE TABLE orderitems(
    orderitem_id INT PRIMARY KEY AUTO_INCREMENT,
    order_id INT NOT NULL,
    product_id INT NOT NULL,
    customer_id INT NOT NULL,
    quantity INT NOT NULL,
    amount INT NOT NULL,
    FOREIGN KEY(product_id) REFERENCES products(product_id),
    FOREIGN KEY(customer_id) REFERENCES customers(customer_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [104]:
%%sql
# employees table dim
DROP TABLE IF EXISTS employees;
CREATE TABLE employees(
    employee_id INT PRIMARY KEY AUTO_INCREMENT,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    age INT NOT NULL CHECK(age<=60),
    phone_number VARCHAR(16) NOT NULL,
    email VARCHAR(50) NOT NULL UNIQUE,
    hire_date DATE DEFAULT (CURRENT_DATE),
    role VARCHAR(20) NOT NULL,
    termination_date DATE,
    manager_id INT,
    is_working BOOLEAN NOT NULL DEFAULT TRUE,
    FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [102]:
%%sql
# log table (audit table)
DROP TABLE IF EXISTS log;
CREATE TABLE log(
    log_id INT PRIMARY KEY AUTO_INCREMENT,
    action VARCHAR(10) NOT NULL,
    changed_by VARCHAR(50) NOT NULL,
    on_table VARCHAR(20) NOT NULL,
    on_column VARCHAR(20) NOT NULL,
    old_value VARCHAR(20),
    new_value VARCHAR(50),
    time DATETIME NOT NULL
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [103]:
%%sql
SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/
9 rows affected.

[('category',),
 ('customers',),
 ('employees',),
 ('inventory',),
 ('log',),
 ('orderitems',),
 ('orders',),
 ('price',),
 ('products',)]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql