In [2]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql mysql+pymysql://root:password@localhost:3306/

# Create Database

In [154]:
%%sql
DROP DATABASE IF EXISTS customersDB;
CREATE DATABASE customersDB;
USE customersDB;

 * mysql+pymysql://root:***@localhost:3306/
9 rows affected.
1 rows affected.
0 rows affected.

[]

In [155]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.

[]

# Create Tables

In [187]:
%%sql
# customers table dimension table
DROP TABLE IF EXISTS customers;
CREATE TABLE customers(customer_id INT PRIMARY KEY AUTO_INCREMENT,                          #auto
                        first_name VARCHAR(100) NOT NULL,                                   #manual
                        last_name VARCHAR(100) NOT NULL,                                    #manual
                        gender ENUM('male','female','other','prefer not to say') NOT NULL,  #manual (trigger for prefer not to say)
                        age INT,                                                            #manual
                        email VARCHAR(100) UNIQUE NOT NULL,                                 #manual
                        ph_num VARCHAR(20) NOT NULL,                                        #manual
                        address1 VARCHAR(100) NOT NULL,                                     #manual
                        address2 VARCHAR(100),                                              #manual
                        city VARCHAR(50) NOT NULL,                                          #manual
                        state VARCHAR(50) NOT NULL,                                        #manual
                        postal_code VARCHAR(10) NOT NULL,                                   #manual
                        country VARCHAR(50) NOT NULL,                                       #manual
                        registration_date DATETIME DEFAULT CURRENT_TIMESTAMP                #auto
                        );

 * mysql+pymysql://root:***@localhost:3306/
(pymysql.err.OperationalError) (3730, "Cannot drop table 'customers' referenced by a foreign key constraint 'orderitems_ibfk_2' on table 'orderitems'.")
[SQL: # customers table dimension table
DROP TABLE IF EXISTS customers;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql
# category dim table 
DROP TABLE IF EXISTS category;
CREATE TABLE category(
    category_id INT PRIMARY KEY AUTO_INCREMENT,         #auto
    category_name VARCHAR(50) NOT NULL UNIQUE,                          #manual
    updated_on DATETIME DEFAULT CURRENT_TIMESTAMP       #auto/(trigger)
    );

 * mysql+pymysql://root:***@localhost:3306/
(pymysql.err.OperationalError) (3730, "Cannot drop table 'category' referenced by a foreign key constraint 'products_ibfk_1' on table 'products'.")
[SQL: # category dim table
DROP TABLE IF EXISTS category;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql
# products table fact table(contains category table)
DROP TABLE IF EXISTS products;
CREATE TABLE products(
    product_id INT PRIMARY KEY AUTO_INCREMENT,  # automatic
    product_name VARCHAR(50) NOT NULL UNIQUE,          # manual 
    description VARCHAR(100) NOT NULL UNIQUE,          # manual
    category_id INT NOT NULL,                   # manual
    FOREIGN KEY (category_id) REFERENCES category(category_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [160]:
%%sql
# inventory fact(1) dimension table
DROP TABLE IF EXISTS inventory;
CREATE TABLE inventory(
    inventory_id INT PRIMARY KEY AUTO_INCREMENT,        #auto
    product_id INT NOT NULL,                            #manual
    quantity INT NOT NULL CHECK (quantity >=0),         #manual
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,    #auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [161]:
%%sql
# price table fact(1) table
DROP TABLE IF EXISTS price;
CREATE TABLE price(
    price_id INT PRIMARY KEY AUTO_INCREMENT,                    # automatic
    product_id INT NOT NULL UNIQUE,                             # manual
    price INT NOT NULL CHECK(price>0),                          # manual
    last_updated DATETIME DEFAULT CURRENT_TIMESTAMP,            # auto/trigger
    FOREIGN KEY (product_id) REFERENCES products(product_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql
# orderitems table fact(3) table
DROP TABLE IF EXISTS orderitems;
CREATE TABLE orderitems(
    orderitem_id INT PRIMARY KEY AUTO_INCREMENT,                    #auto
    order_id INT NOT NULL,                                          #manual/create here
    product_id INT NOT NULL,                                        #manual
    customer_id INT NOT NULL,                                       #manual
    quantity INT NOT NULL,                                          #manual
    total_amount INT NOT NULL,                                      #trigger data from price table/procedure
    FOREIGN KEY(product_id) REFERENCES products(product_id),
    FOREIGN KEY(customer_id) REFERENCES customers(customer_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [165]:
%%sql
# employees table dim
DROP TABLE IF EXISTS employees;
CREATE TABLE employees(
    employee_id INT PRIMARY KEY AUTO_INCREMENT,                     #auto
    first_name VARCHAR(50) NOT NULL,                                #manual
    last_name VARCHAR(50) NOT NULL,                                 #manual
    age INT NOT NULL CHECK(age<=60),                                #manual
    phone_number VARCHAR(16) NOT NULL,                              #manual
    email VARCHAR(50) NOT NULL UNIQUE,                              #manual
    hire_date DATE DEFAULT (CURRENT_DATE),                          #manual
    role VARCHAR(20) NOT NULL,                                      #manual
    termination_date DATE DEFAULT NULL,                             #manual/default null
    manager_id INT,                                                 #manual
    is_working BOOLEAN NOT NULL DEFAULT TRUE,                       #manual/fefault null
    FOREIGN KEY (manager_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql
# sales table fact(2) table
DROP TABLE IF EXISTS orders;
CREATE TABLE orders(
    order_id INT PRIMARY KEY,   #CREATE FROM ORDERITEMS BY procedure unique
    customer_id INT NOT NULL,   #CREATE FROM ORDERITEMS BY procedure unique
    total_qty INT NOT NULL,     #sum trigger from orderitems
    total_amount INT NOT NULL,  #sum trigger from orderitems
    order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, # auto
    seller_id INT NOT NULL,                                 #manual
    shipping_date DATE NOT NULL,                            #manual
    shipping_status ENUM('shipped', 'pending', 'delivered'),#manual
    shipping_addresss VARCHAR(200) NOT NULL,                #manual or can be populate from customers table if same address
    city VARCHAR(50) NOT NULL,                              #manual
    state VARCHAR(50) NOT NULL,                             #manual
    postalcode VARCHAR(10) NOT NULL,                        #manual
    payment_method VARCHAR(50) NOT NULL,                    #manual
    payment_status VARCHAR(10) NOT NULL,                    #manual
    FOREIGN KEY(customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY(seller_id) REFERENCES employees(employee_id)
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [168]:
%%sql
# log table (audit table)
DROP TABLE IF EXISTS log;
CREATE TABLE log(
    log_id INT PRIMARY KEY AUTO_INCREMENT,
    action VARCHAR(10) NOT NULL,
    changed_by VARCHAR(50) NOT NULL,
    on_table VARCHAR(20) NOT NULL,
    on_column VARCHAR(20) NOT NULL,
    old_value VARCHAR(20),
    new_value VARCHAR(50),
    time DATETIME NOT NULL
    );

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [103]:
%%sql
SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/
9 rows affected.

[('category',),
 ('customers',),
 ('employees',),
 ('inventory',),
 ('log',),
 ('orderitems',),
 ('orders',),
 ('price',),
 ('products',)]

# Triggers

In [180]:
%%sql
DROP TRIGGER IF EXISTS gender_insert_on_customer_table;
CREATE TRIGGER gender_insert_on_customer_table
AFTER INSERT ON customers
FOR EACH ROW
BEGIN
    IF NEW.gender IS NULL THEN
        UPDATE customers
        SET gender = 'prefer not to say'
        WHERE customer_id = NEW.customer_id;
    END IF;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql
DROP TRIGGER IF EXISTS update_date_on_category_table;
CREATE TRIGGER update_date_on_category_table
AFTER UPDATE ON category
FOR EACH ROW
BEGIN
    UPDATE category
    SET updated_on = NOW()
    WHERE category_id = OLD.category_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [185]:
%%sql
DROP TRIGGER IF EXISTS price_update_on_price_table;
CREATE TRIGGER price_update_on_price_table
AFTER UPDATE ON price
FOR EACH ROW
BEGIN
    UPDATE price
    SET last_updated = NOW()
    WHERE product_id = OLD.product_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [186]:
%%sql
DROP TRIGGER IF EXISTS update_date_on_inventory_table;
CREATE TRIGGER update_date_on_inventory_table
AFTER UPDATE ON inventory
FOR EACH ROW
BEGIN
    UPDATE inventory
    SET last_updated = NOW()
    WHERE product_id = OLD.product_id;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

# Insert procedure

In [188]:
%%sql
DROP PROCEDURE IF EXISTS insert_date_in_customers;
CREATE PROCEDURE insert_date_in_customers(
    IN id INT, 
    IN fname VARCHAR(100), 
    IN lname VARCHAR(100),
    IN gen VARCHAR(10),
    IN age INT,
    IN email VARCHAR(100),
    IN ph VARCHAR(20),
    IN add1 VARCHAR(100),
    IN add2 VARCHAR(100),
    IN city VARCHAR(50),
    IN state VARCHAR(50),
    IN post VARCHAR(10),
    IN country VARCHAR(50)
    )
BEGIN
    INSERT INTO customers (customer_id,first_name,last_name,gender,age,email,ph_num,
    address1,address2,city,state,post_code,country)
    VALUES
    (id,fname,lname,gen,age,email,ph,add1,add2,city,state,post,country);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [190]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_category;
CREATE PROCEDURE insert_values_category(IN name VARCHAR(50))
BEGIN
    INSERT INTO category(category_name)
    VALUES (name);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [195]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_products;
CREATE PROCEDURE insert_values_products(
    IN name VARCHAR(50),
    IN des VARCHAR(100),
    IN cat INT
)
BEGIN 
    INSERT INTO products(product_name,description,category)
    VALUES (name,des,cat);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [196]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_inventory;
CREATE PROCEDURE insert_values_inventory(
    IN pid INT,
    IN qty INT)
BEGIN
    INSERT INTO inventory(product_id,quantity)
    VALUES (pid,qty);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [197]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_price;
CREATE PROCEDURE insert_values_price(
    IN pid INT,
    IN price INT)
BEGIN
    INSERT INTO price(product_id,price)
    VALUES (pid,price);
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [205]:
%%sql
DROP PROCEDURE IF EXISTS insert_values_orderitems;
CREATE PROCEDURE insert_values_orderitems(
    IN oid INT,
    IN pid INT,
    IN cid INT,
    IN qty INT)
BEGIN
    DECLARE price_value INT;
    DECLARE msg TEXT;

    SELECT price INTO price_value FROM price WHERE product_id = pid;

    IF price_value > 0 AND qty > 0 THEN
        INSERT INTO orderitems(order_id,product_id,customer_id,quantity,total_amount)
        VALUES (oid,pid,cid,qty,qty*price_value);
    ELSE 
        SET msg = CONCAT('Values cannot be 0 or less. Price = ', price_value, ', Quantity = ', qty);
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = msg;
    END IF;
END

 * mysql+pymysql://root:***@localhost:3306/
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql